// Partials
@import "partials/_general_styles";
@import "partials/_clearfix";
@import "partials/_reset";

//variables
$primary-bg: #184b68;

// media query ranges
$small: "only screen and (min-width: 200px) and (max-width: 760px)";

// Mixins
@mixin small {
  @media #{$small} {
    @content;
  }
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: $primary-bg;
}

.navbar-nav > .active {
  background-color: $primary-bg;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

.navbar-default {
  border-radius: 0;
  z-index: 500;
  width: 100vw;
  margin-bottom: 0;
}

.linkImages a{
  text-decoration: none;
}

.linkImages {
  margin-top: 5px;
}

.githubLogo {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

a:hover {
    text-decoration: none;
  }

.contactImages {
  margin-top: 20px;
}

.linkedinLogo {
  width: 200px;
  height: 40px;
  margin: 0 auto;
}

.welcomeImage {
  box-sizing: border-box;
  width: 99.5vw;
  height: 99.5vh;
  opacity: 0.5;
  overflow: hidden;
}

.wave{
  background: $primary-bg;
  height: 20px;
  position: relative;
}
.wave::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image:
    radial-gradient(circle at 10px -5px, transparent 12px, white 13px);
}
.wave::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 40px 20px;
  background-image:
    radial-gradient(circle at 10px 15px, white 12px, transparent 13px);
}

.wave {
  margin-bottom: 20px;
}
.endWave{
  background: white;
  height: 50px;
  position: relative;
}
.endWave::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image:
    radial-gradient(circle at 10px -5px, transparent 12px, $primary-bg 13px);
}
.endWave::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 40px 20px;
  background-image:
    radial-gradient(circle at 10px 15px, $primary-bg 12px, transparent 13px);
}

.aboutContainer, .contactContainer{
  width: 100vw;
  text-shadow: 2px 2px black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.theWebDeveloperContainer {
  margin-top: 20px;
}

.theWebDeveloper {
  font-size: 1.5em;
  text-align: center;

  @include small {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.contactTitle {
  margin-top: 10px;
}

.contactInfo {
  font-size: 1.5em;
  color: #184b68;
  text-decoration: none;
  text-shadow: none;
  width: 60%;
  margin: 0 auto;
  line-height: 35px;
}

.theITConsultantContainer {

}
.theITConsultant {
  font-size: 1.5em;
  text-align: center;

  @include small {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.toolsetITContainer, .toolsetWebContainer {
  margin-top: 20px;
  margin-bottom: 5px;
}

.toolsetWeb, .toolsetIT {
  margin-top: 10px;
  width: 100%;
  background-color: white;
}

.contactInfoContainer {
  margin-top: 10px;
  width: 100%;
  background-color: white;
}

.toolsetWeb img {
    width: 15vw;
    margin: 5px;

    @include small {
      width: 25vw;
    }
  }

.toolsetIT img {
    width: 5vw;
    margin: 0 25px;

    @include small {
      width: 10vw;
    }
  }

.footer {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  right: 2px;
  bottom: 5px;
  z-index: 2000;
  width: 100%;
  text-align: center;
  padding: 1rem;
  color: gray;

  @include small {
    display: none;
  }
}