.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Nunito', sans-serif; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 3em; }

h3 {
  font-size: 2em; }

.navbar-default {
  margin: 0 auto;
  z-index: 500;
  width: 100vw; }

.linkImages a {
  text-decoration: none; }

.githubLogo {
  width: 50px;
  height: 50px;
  margin: 0 auto; }

.linkedinLogo {
  width: 250px;
  height: 50px;
  margin: 0 auto; }

.welcomeImage {
  box-sizing: border-box;
  width: 99.5vw;
  height: 99.5vh;
  opacity: 0.5;
  overflow: hidden; }

.aboutContainer {
  box-sizing: border-box;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  width: 100vw;
  top: 10%;
  text-shadow: 2px 2px black;
  color: Gainsboro;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: #499bea;
  background: -moz-radial-gradient(center, ellipse cover, #499bea 0%, #207ce5 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #499bea), color-stop(100%, #207ce5));
  background: -webkit-radial-gradient(center, ellipse cover, #499bea 0%, #207ce5 100%);
  background: -o-radial-gradient(center, ellipse cover, #499bea 0%, #207ce5 100%);
  background: -ms-radial-gradient(center, ellipse cover, #499bea 0%, #207ce5 100%);
  background: radial-gradient(ellipse at center, #499bea 0%, #207ce5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 ); }

.theWebDeveloperContainer {
  margin-bottom: 20px; }

.theWebDeveloper {
  font-size: 1.5em; }

.theITConsultant {
  font-size: 1.5em; }

.toolsetWeb, .toolsetIT {
  margin-top: 10px;
  width: 100%;
  height: 20vh;
  background-color: white; }
